<div class="card mt-5">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet alias
      voluptatem, et expedita minima nemo quibusdam. Harum deleniti accusantium
      magnam.
    </p>
  </div>
</div>