{{! <div class="jumbotron">
    <h1 class="display-4">NOTES APP NODEJS MONGODB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum magni inventore architecto distinctio dolores. 
        Aut.
    </p>
    <a href="" class="btn btn-primary btn-lg">FaztWeb</a>
</div> }}
<div
  class="p-4 shadow-4 rounded-3 mt-5"
  style="background-color: hsl(0, 0%, 94%);"
>
  <h1>NOTES APP NODEJS MONGODB</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores facilis
    cupiditate quibusdam incidunt eligendi, iure ad modi corrupti obcaecati in
    neque dicta deserunt numquam doloribus ut. Esse eius iste porro?
  </p>

  <hr class="my-4" />

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores facilis
    cupiditate quibusdam incidunt eligendi, iure ad modi corrupti obcaecati in
    neque dicta deserunt numquam doloribus ut. Esse eius iste porro?
  </p>
  <button type="button" class="btn btn-primary">
    Learn more
  </button>
</div>